body {
    min-height: 100vh;
}

main {
    padding: 50px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

footer {
    background-color: #f8f8f8;
    padding: 5px;
    font-size: 14px;
    color: #666;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
main {
    position: relative;
    min-height: calc(100vh - 200px); /* réduire la hauteur pour laisser de la place pour le footer */
}

footer {
    position: absolute;
    bottom: 0;
}

.centered {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


