/* Style pour le titre */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align:center;
}

/* Style pour le tableau */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


th, td {
    padding: 8px;
}

/* Style pour les en-têtes de colonnes */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Style pour les cellules de données */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

/* Style pour les lignes impaires */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f5f5f5;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
}

table td:hover {
    background-color: #ddd;
}

.highlight td {
    background-color: #ddd;
    cursor: pointer;
}
.highlight {
    background-color: #ddd;
}

/* Style for search bar container */
.search-bar-container {
    display: flex;
    justify-content: center;
}

/* Style for search bar */
#search-bar {
    width: 10cm;
    height: 3cm;
    border: 10px solid grey;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px ;
}


